@import "{{ site.theme }}";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(6, 6, 15);
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(2, 2, 44);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(115, 115, 152);
    font-size: 1.08rem;
}

.left{
    font-size: 1.4rem;
}

.right{
    font-size: 1.09rem;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 130px 0;
}

.firstSection > div{
    width: 30%;
}

.leftSection{
    font-size: 2rem;
    margin: 30px 0;
}

.rightSection img{
    width: 120%;
}


.purple {
    color: blueviolet;
}

#role{
    color: blueviolet;
}

#company{
    color: blueviolet;
}

#secondSection {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
}

main hr{
    border: 0;
    background-color: #575587;
    height: 1.2px;
    margin: 40px 80px;
}

#secondSection h1{
    font-size: 1.9rem;
}



/* Container for the entire experience section */
.experience {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style for the company information */
.company {
    margin-bottom: 10px;
}

.company h4 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.company p {
    font-size: 16px;
    margin: 0;
    color: #777;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    /* Adjust the maximum width as needed */
    margin: auto;
    /* Center the container horizontally */
    padding: 20px;
    /* Add padding to the container */
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


#thirdSection {
padding: 20px;
}

#thirdSection .AboutMe {
    font-family: Arial, sans-serif;
    color: #333;
}


#thirdSection h2{
    color: #007BFF;
        font-size: 28px;
        margin-bottom: 15px;
}

#thirdSection p {
    line-height: 1.6;
        font-size: 16px;
        margin-bottom: 15px;
}

#thirdSection ul {
    list-style-type: disc;
        margin-left: 20px;
        font-size: 16px;
        margin-bottom: 15px;
}

#thirdSection a {
    color: #021830;
    /* Link color */
    text-decoration: none;
    /* Remove underlines from links */
}

#thirdSection a:hover {
    text-decoration: underline;
    /* Underline links on hover */
}
